@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;


    --blue: #3b82f6;
    --yellow: #facc15;
    --gray: #e5e5e5;
}
a{
    text-decoration: none;
}

body, html{
    display: flex;
    height: 100%;
    width: 100%;
}
.layout-container{
    display: grid;
    grid-template: 175px 1fr/ auto 1fr;
    flex: 1;
}

.dashboard{
    background-color: var(--blue);
    color: white;

    grid-row: 1/-1;
    padding: 15px 45px 100% 15px;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 48px repeat(auto-fit, 24px);
    align-items: flex-end;
    gap: 15px;

    &__icon {
        height: 24px;
        width: 24px;
        justify-self: center;

        &__main{
            width: 48px;
            height: 48px;
        }
    }

    &__empty-row{
        grid-column: 1/-1;
        height: 24px;
    }

    &__link{
        color: white;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0.1rem;
    }

    &__title{
        font-weight: 700;
        font-size: 25px;
        letter-spacing: 0.2rem;
        align-self: center;
    }
}

.nav{
    padding: 15px 50px;

    display: grid;
    grid-template: 1fr 1fr/1fr;
    gap: 15px;

    box-shadow: 0 3px 5px rgb(0,0,0, 0.3);
    z-index: 2;

    &__top-container{
        display: flex;
        align-items: center;
        gap: 25px;
    }
// top container items
    &__search{
        background-color: var(--gray);
        height: 24px;
        border-style: none;
        border-radius: 12px;
        max-width: 600px;
        padding: 3px 6px;
        flex: 1;

        &:focus{
            outline: none;
        }
    }

    &__bell-icon{
        margin-left: auto;
    }

    &__username{
        font-size: 20px;
        font-weight: 700;
    }
// ----

    &__bottom-container{
        display: flex;
        align-items: center;
        gap: 25px;
    }

    &__greeting{
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
            font-style: italic;
        }
        h4{
            font-weight: 700;
        }
    }

    &__buttons{
        margin-left: auto;

        display: flex;
        align-items: center;
        gap: 25px;
    }

    &__button{
        background-color: var(--blue);
        color: white;
        border-radius: 18px;
        height: 36px;
        padding: 10px 20px;
        border: none;

        display: flex;
        text-align: center;
        align-items: center;
        font-size: 16px;
        letter-spacing: 0.1rem;
    }
}
.content{
    background-color: var(--gray);
}